{%
  set classes = [
    'block',
    'carousel-item',
    'active'
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <section class="form">
        <div class="container-xl">
            <h2 class="title-1 mb-5">Случайный текст похож на треск разлетающихся скреп</h2>
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <form>
                        <div class="row">
                            <div class="col-12 mb-4">
                                <p>Случайный текст похож на треск разлетающихся скреп</p><input
                                    class="w-100 elemnt-form" type="text">
                            </div>
                            <div class="col-12 mb-4">
                                <p>Случайный текст похож на треск разлетающихся скреп</p><input
                                    class="w-100 elemnt-form" type="text">
                                <p class="text-muted mt-1">*Случайный текст похож на треск разлетающихся скреп</p>
                            </div>
                            <div class="col-12 mb-4"><button type="submit"
                                    class="w-100 btn theme-bg">Отправить</button>
                                <p class="text-muted mt-1">*Случайный текст похож на треск разлетающихся скреп</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="form-img-wrap">
                        <picture>
                            <source srcset="" type="image/webp">
                            <img src="" alt="Изображение" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
