{%
  set classes = [
    'block',
    'carousel-item',
    'active'
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <section class="gallery">
        <div class="container-xl">
            <h2 class="title-1 mb-5">Случайный текст похож на треск разлетающихся скреп</h2>
            <div class="product-gallery mb-5">
                <div class="product-image">
                    <img class="active"
                        src="https://images.wallpaperscraft.ru/image/single/zdanie_truba_zheltyj_197275_3840x2160.jpg"
                        alt="Изображение" loading="lazy">
                </div>
                <ul class="image-list row mt-4">
                    <li class="image-item col-3 mx-auto">
                        <div class="image-item-wrap effects">
                            <img src="https://images.wallpaperscraft.ru/image/single/zdanie_truba_zheltyj_197275_3840x2160.jpg"
                                alt="Изображение" loading="lazy">
                        </div>
                    </li>
                    <li class="image-item col-3 mx-auto">
                        <div class="image-item-wrap effects">
                            <img src="https://images.wallpaperscraft.ru/image/single/most_oblaka_minimalizm_125968_3840x2160.jpg"
                                alt="Изображение" loading="lazy">
                        </div>
                    </li>
                    <li class="image-item col-3 mx-auto">
                        <div class="image-item-wrap effects">
                            <img src="https://images.wallpaperscraft.ru/image/single/lampa_elektrichestvo_minimalizm_128251_3840x2160.jpg"
                                alt="Изображение" loading="lazy">
                        </div>
                    </li>
                    <li class="image-item col-3 mx-auto">
                        <div class="image-item-wrap effects">
                            <img src="https://images.wallpaperscraft.ru/image/single/avokado_minimalizm_rozovyj_120543_3840x2160.jpg"
                                alt="Изображение" loading="lazy">
                        </div>
                    </li>
                </ul>
            </div>
            <p>В своём стремлении улучшить пользовательский опыт мы упускаем, что непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Но ключевые особенности структуры проекта могут быть призваны к ответу. Внезапно, предприниматели в сети интернет неоднозначны и будут подвергнуты целой серии независимых исследований.
            В своём стремлении улучшить пользовательский опыт мы упускаем, что непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Но ключевые особенности структуры проекта могут быть призваны к ответу. Внезапно, предприниматели в сети интернет неоднозначны и будут подвергнуты целой серии независимых исследований.</p>
        </div>
    </section>
</div>
