{%
  set classes = [
    'block',
    'carousel-item'
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <section class="gallery">
        <div class="container-xl">
            <h2 class="title-1 mb-5">Случайный текст похож на треск разлетающихся скреп</h2>
            <div class="gallery-blc-magnific row">
                <div class="col-md-4 col-sm-6 col-12 my-1"><a
                        class="gallery-link"
                        href="https://images.wallpaperscraft.ru/image/single/zdanie_truba_zheltyj_197275_3840x2160.jpg">
                        <figure class="gallery-image">
                            <picture>
                                <source srcset="" type="image/webp">
                                <img src="https://images.wallpaperscraft.ru/image/single/zdanie_truba_zheltyj_197275_3840x2160.jpg"
                                    alt="Изображение" loading="lazy">
                            </picture>
                        </figure>
                    </a></div>
                <div class="col-md-4 col-sm-6 col-12 my-1"><a
                        class="gallery-link"
                        href="https://images.wallpaperscraft.ru/image/single/most_oblaka_minimalizm_125968_3840x2160.jpg">
                        <figure class="gallery-image">
                            <picture>
                                <source srcset="" type="image/webp">
                                <img src="https://images.wallpaperscraft.ru/image/single/most_oblaka_minimalizm_125968_3840x2160.jpg"
                                    alt="Изображение" loading="lazy">
                            </picture>
                        </figure>
                    </a></div>
                <div class="col-md-4 col-sm-6 col-12 my-1"><a
                        class="gallery-link"
                        href="https://images.wallpaperscraft.ru/image/single/zdanie_okna_arhitektura_204778_3840x2160.jpg">
                        <figure class="gallery-image">
                            <picture>
                                <source srcset="" type="image/webp">
                                <img src="https://images.wallpaperscraft.ru/image/single/zdanie_okna_arhitektura_204778_3840x2160.jpg"
                                    alt="Изображение" loading="lazy">
                            </picture>
                        </figure>
                    </a></div>
            </div>
        </div>
    </section>
</div>
