{%
  set classes = [
    'block',
    'carousel-item'
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <section class="article">
        <div class="container-xl">
            <h2 class="title-1 mb-5">Случайный текст похож на треск разлетающихся скреп</h2>
            <div class="article-blc row my-4">
                <div class="col-md-4 col-sm-6 col-12 my-3">
                    <div class="article-blc-one p-4">
                        <div class="article-img">
                            <picture>
                                <source srcset="" type="image/webp">
                                <img src="" alt="Изображение" loading="lazy">
                            </picture>
                        </div>
                        <p class="my-4"> В своём стремлении улучшить пользовательский опыт мы упускаем, что непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Но ключевые особенности структуры проекта могут быть призваны к ответу. Внезапно, предприниматели в сети интернет неоднозначны и будут подвергнуты целой серии независимых исследований.</p><button
                            class="theme-bg btn">Текст</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 my-3">
                    <div class="article-blc-one p-4">
                        <div class="article-img">
                            <picture>
                                <source srcset="" type="image/webp">
                                <img src="" alt="Изображение" loading="lazy">
                            </picture>
                        </div>
                        <p class="my-4"> В своём стремлении улучшить пользовательский опыт мы упускаем, что непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Но ключевые особенности структуры проекта могут быть призваны к ответу. Внезапно, предприниматели в сети интернет неоднозначны и будут подвергнуты целой серии независимых исследований.</p><button
                            class="theme-bg btn">Текст</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 my-3">
                    <div class="article-blc-one p-4">
                        <div class="article-img">
                            <picture>
                                <source srcset="" type="image/webp">
                                <img src="" alt="Изображение" loading="lazy">
                            </picture>
                        </div>
                        <p class="my-4"> В своём стремлении улучшить пользовательский опыт мы упускаем, что непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Но ключевые особенности структуры проекта могут быть призваны к ответу. Внезапно, предприниматели в сети интернет неоднозначны и будут подвергнуты целой серии независимых исследований.</p><button
                            class="theme-bg btn">Текст</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
