{%
  set classes = [
    'block',
    'carousel-item'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <section class="start-screen">
    <div class="container-xl">
      <div class="start-screen-blc">
        <div class="row">
          <div class="col-6">
              <h1 class="title-1">Случайный текст похож на треск разлетающихся скреп</h1>
          </div>
          <div class="col-6">
            <div class="start-screen-blc-img">
              <picture>
                <source srcset="" type="image/webp">
                <img src="" alt="Изображение" loading="lazy">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
