{%
  set classes = [
    'block',
    'carousel-item',
    'active'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <section class="start-screen">
    <div class="container-xl">
      <div class="start-screen-blc-full">
        <picture>
            <source srcset="" type="image/webp">
            <img src="" alt="Изображение" loading="lazy">
        </picture>
        <div class="start-screen-blc-full-wrap-title">
            <h1 class="title-1 mx-auto text-center theme-bg">Случайный текст похож на треск разлетающихся скреп</h1>
        </div>
      </div>
    </div>
  </section>
</div>
