<div class="col-sm-4 col-12">
  {% if site_logo %}
    <div class="img-container">
      <a href="{{ path('<front>') }}" rel="home" class="site-branding__logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  {% endif %}
</div>
